$color-primary: #34e8eb;
$color-primary-dark: #00bcbf;
$color-white: white;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$color-orange: #fb6500;
$color-dark-blue: #001c58;
$color-yellow: #ffbb39;
$color-teal: #4fb4b1;
$color-mint: #b3e7b4;

body {
    background-color: $color-teal;
}

.jumbotron {
    padding: 10px;
    background-color: $color-mint;
}

#beach {
    mix-blend-mode: multiply;
    max-width: 80%;
    margin: auto 0;
    width: auto;
}

#covid {
    background-color: $color-yellow;
    height: 30px;
}

.carousel {
    border: $color-white solid 4px;
}

.carousel-item {
    width: 100%;
    height: 450px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: $color-teal;
    border-color: $color-teal;
}

.carousel-caption {
    background-color: $color-black-transparent;
}

#homeCarousel {
    border-radius: 5px;
}

#phone {
    background-color: rgba(#ffbb39, 0.5);
}

#mail {
    background-color: rgba(#ffbb39, 0.5);
}

#aboutus {
    background-color: rgba(#ffbb39, 0.8);
    font-size: 32px;
    text-transform: uppercase;
    border-radius: 15px;
}

#desc {
    padding: 25px;
    background-color: rgba(#ffbb39, 0.8);
    border-radius: 15px;
}